{
  "presets": [
    "es2015",
    "react",
    "stage-2"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "add-module-exports"
  ],
  "ignore": [
    "node_modules/**/*"
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
