// put the onus on the container component
.OpenSeadragonViewer {
  height: 100%;
  width: 100%;

  .osd-button {
    box-sizing: content-box;
    cursor: pointer;
    margin: 5px;
    padding: 0;
    stroke: $black;
    fill: $black;

    &:active {
      background-color: #ccc;
    }
  }

  &-viewer {
    height: inherit;
    width: inherit;
  }
}
