// put the onus on the container component
.OpenSeadragonViewer {
  height: 100%;
  width: 100%;


  &-toolbar {
    box-sizing: content-box;
    fill: $black;
    stroke: $black;

    .osd-button {
      cursor: pointer;
      margin: 5px;
      padding: 0;

      &:active {
        background-color: #aaa;
      }
    }

    &.fullpage {
      background-color: #ccc;
      .osd-button {
        padding: 0;
      }
    }
  }

  &-viewer {
    height: inherit;
    width: inherit;
  }
}
