// lafayette colors
$blue-dark: #1d5f83;
$blue-light: #4ea8dd;
$red-dark: #65001c;
$red-light: #910029;
$tan-dark: #a2998b;
$tan-light: #e8e6e2;

$black: #1e1e1e;
$white: #ffffff;

// some global resets
$body-margin: 10px;
$line-height: 1.5rem;

$font-body: 'Helvetica';
$font-header: 'Georgia';

$body-color: $black;
$link-color: $blue-light;

// some component settings
$result-gallery-item-width: 250px;
